body{
    margin:0;
    background: url(../static_images/parchment3.jpg) repeat;
}
li.active{
    color: red;
}
nav{
    background:  url(../static_images/sandstone_brick_banner.jpg);
}
.navbar-brand{
    color: burlywood;
}

li.active{
    background:  url(../static_images/sandstone_brick_banner.jpg);
    color: burlywood;
}